<div class="container">
  <div class="row">
    <div class="input-group mt-5">
      <input type="text"  class="form-control">
      <div class="input-group-append">
        <select class="form-control form-controlmain">
          <option>kateqoriya</option>
          <option>kateqoriyakateqoriyakateqoriya</option>
          <option>kateqoriya</option>
          <option>kateqoriya</option>
          <option>kateqoriya</option>
        </select>  
        <select class="form-control form-controlmain">
          <option>kateqoriya</option>
          <option>kateqoriya</option>
          <option>kateqoriya</option>
          <option>kateqoriya</option>
          <option>kateqoriya</option>
        </select>      
        <button class="btn btn-warning"> Axtar</button>
        
      </div>
    </div>
  </div>
</div>