<div class="container">
  <div class="row">
    <div class="input-group mt-5">
      <input type="text" class="form-control">
      <div class="input-group-append">
        <select class="form-control form-controlmain">
          <option *ngFor="let category of categories">{{category.name}}</option>
        </select>
        <select class="form-control form-controlmain">
          <option *ngFor="let category of categories">{{category.name}}</option>
        </select>
        <button class="btn btn-danger"> Axtar</button>

      </div>
    </div>
  </div>
</div>
